@import "tailwindcss";

@layer base {
  :root {
    --brand: 262 83% 42%;
    --brand-fg: 0 0% 100%;
  }
  body {
    background-color: #f9fafb;
    color: #111827;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
